<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gokids.yoda_tech.gokids">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/gokids_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gokids_launcher"
        android:supportsRtl="true"
        >
        <activity
            android:name="com.gokids.yoda_tech.gokids.home.activity.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gokids.yoda_tech.gokids.home.activity.GoKidsHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.signup.activity.SignUpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/GoKidsThemeNoAction">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name="com.gokids.yoda_tech.gokids.home.service.GPSService" />
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name="com.gokids.yoda_tech.gokids.learn.activity.LearnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.gokids.yoda_tech.gokids.entertainment.activity.EntertainmentActivity"
            android:screenOrientation="portrait"
            android:label="@string/entertainment"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.learn.activity.DialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.learn.activity.DisplayClassActivity"
            android:parentActivityName="com.gokids.yoda_tech.gokids.learn.activity.LearnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GoKidsThemeNoAction">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gokids.yoda_tech.gokids.learn.activity.LearnActivity" />
        </activity>
        <activity
            android:name="com.gokids.yoda_tech.gokids.learn.activity.ProviderDetailsActivity"
            android:parentActivityName="com.gokids.yoda_tech.gokids.learn.activity.DisplayClassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gokids.yoda_tech.gokids.learn.activity.DisplayClassActivity" />
        </activity>
        <activity
            android:name="com.gokids.yoda_tech.gokids.learn.activity.CallNumberDisplay"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.learn.activity.AddReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider539433109778975"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        ...
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gokids.yoda_tech.gokids.settings.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/GoKidsThemeNoAction" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.signup.activity.ForgotPassword"
            android:label="@string/title_forgot_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.settings.activity.AddKidsActivity"
            android:label="@string/add_kids_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.eat.activity.FoodListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@layout/searchable"/>
        </activity>
        <activity
            android:name="com.gokids.yoda_tech.gokids.eat.activity.FoodDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.medical.activity.MedicalMainActivty"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.medical.activity.MedicalDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.medical.activity.SearchResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.gokids.yoda_tech.gokids.referfriend.activity.ReferFriend"
            android:label="@string/refer_friend"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.utils.FullImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.bookmark.activity.AllBookmarksActivity"
            android:label="@string/my_bookmark"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.shop.activity.Shopping"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.shop.activity.ShopDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GoKidsThemeNoAction" />
        <activity
            android:name="com.gokids.yoda_tech.gokids.entertainment.activity.EntertainmentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GoKidsThemeNoAction" />
        <activity android:name="com.gokids.yoda_tech.gokids.entertainment.activity.Entertainment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>